@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .transition-all {
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-question {
    animation: slideUpFade 0.4s ease-out forwards;
}